/* VARIABLES */
:root {
  /* variables */
  --header-h: 88px;
  --yellow: #F3C87A;
  --green : #01AE93;
  --red : #e96a63;
  --purple : #9b86be;
}

/* GENERAL */
html, body {
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

@media screen and (min-width: 1600px) {
  html, body {
    font-size: 18px;
  }
}

body {
  /* background-image: url('/img/bg-desktop.svg'); */
  background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url('https://francescocretti.github.io/bff-website/img/bg-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

h1 {
  margin-bottom: 2.5rem;
}

h2, h3 {

}

h1, h2, h3, h4, h5, .nav-link {
  font-family: 'Raleway', sans-serif;
}

p {
  line-height: 33px;
}

a {
    color: darkblue;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: .5rem 0 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li::before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.uppercase {
  text-transform: uppercase;
}

.spaced {
  letter-spacing: 5px;
}

.bold {
  font-weight: 700;
}

.superbold {
  font-weight: 900;
}

#header {
  position: fixed;
  width: 100%;
  height: var(--header-h);
  top: 0px;
  z-index: 9999999;
}

#intro-section {
  margin-top: calc(var(--header-h) + 80px);
}

.navbar {
  font-size: 14px;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.navbar #brand-logo {
  width: 130px;
  transition: width .3s ease-in-out;
}

.navbar.compact {
  /* background-color: rgba(0,0,0,0.3); */
  background-color: pink;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 2px 0 10px rgba(0,0,0,.2);
}

.navbar.compact #brand-logo {
  width: 90px;
}

.nav-item {
  padding: 0 1rem;
}

.nav-item .nav-link {
  color: rgba(0,0,0,.7);
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.navbar.compact .nav-item .nav-link {
  color: rgba(0,0,0,1);
}

.navbar-light .navbar-toggler {
  border: none !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.section-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.cta-button {
  padding: .7rem 2rem;
  border-radius: 50px;
  color: black;
  background: azure;
  border: none;
  font-weight: 800;
  display: inline-block;
  margin-top: 1rem;
}

.cta-card {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.cta-card-head {
  height: 75px;
}

.as-card {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* text-align: center; */
}

.cta-card h3 {
  margin-bottom: 2rem;
}

.cta-card img {
  width: 150px;
  margin-bottom: 2rem;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, .2);
  padding: 2rem;
}

.mail-add {
  font-size: 1.6rem;
  font-weight: 100;
  color: black;
  display: inline-block;
}

.mail-add:hover {
  text-decoration: none;
  color: black;
}

.mail-add::after {
  display: block;
  width: 0;
  content: '';
  border-bottom: 2px solid;
  transition: all .5s;
}

.mail-add:hover::after {
  width: 100%;
}

.contacts-ul {
  list-style: none;
  padding: 0;
}

/* SMALL SCREENS AND iPad PRO */
@media screen and (max-width: 1300px) {
  .navbar {
    font-size: 13px;
  }
}

/* SMALL SCREENS AND iPad PRO */
@media screen and (max-width: 1199px) {}

/* VERY SMALL SCREENS AND LARGE TABLETS */
@media screen and (max-width: 991px) {}

/* TABLETS */
@media screen and (max-width: 768px) {}

/* SMARTPHONES (portait) */
@media screen and (max-width: 576px) {
  .navbar-light .nav-item {
    padding: .6rem 1rem;
  }

  .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
    /* font-weight: 900; */
    font-size: 1rem;
  }

  .navbar-collapse {
    background-color: pink;
    margin-left: -8px;
    margin-right: -8px;
  }

  .as-card {
    margin-bottom: 2rem;
  }

  .cta-card-head {
    height: unset;
    margin-top: 3rem;
  }

  .mail-add {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  #intro-section h1 {
    font-size: 2.1rem;
  }
}
