<nav class="navbar navbar-expand-xl py-2 py-xl-4 px-2 px-xl-5">
  <a class="navbar-brand">
    <img id="brand-logo" src='https://francescocretti.github.io/bff-website/img/logo-complete-gray.png' alt="BFF">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#intro-section">COS'È BFF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-1">INVIACI IL TUO CORTO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-2">MUSICA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-2">SCRITTURA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-2">ILLUSTRAZIONE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-3">CHI C'È DIETRO</a>
      </li>
      <li class="nav-item contacts-nav">
        <a class="nav-link" href="#section-4">CONTATTI</a>
      </li>
    </ul>
  </div>
</nav>
