<nav class="navbar navbar-light navbar-expand-xl py-2 py-xl-4 px-2 px-xl-5">

  <a class="navbar-brand" href="/">
    <img id="brand-logo" src='https://busafilmfest.it/img/logo-complete-gray.png' alt="BFF">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/#intro-section">COS'È BFF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/finalisti">FINALISTI 2020</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#section-3">CHI C'È DIETRO</a>
      </li>
      <li class="nav-item contacts-nav">
        <a class="nav-link" href="/#section-4">CONTATTI</a>
      </li>
      <li class="nav-item social-nav">
        <a href="https://www.facebook.com/busafilmfest"><i class="fab fa-facebook-square"></i></a>
      </li>
      <li class="nav-item social-nav">
        <a href="https://www.instagram.com/busafilmfest"><i class="fab fa-instagram"></i></a>
      </li>

    </ul>
  </div>
</nav>
